<!DOCTYPE html>
<html lang="ja">
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/style.css" />

  <title>メモ内容 <%= @subject %></title>
  </head>
  <body>
    <header><h1>メモアプリ</h1></header>
    <div><%= @subject %></div>
    <div class="content"><%= @content %></div>
    <div class="edit-link"><a href="/<%= @memo_id %>/edit">編集</a></div>
    <div>
      <form action="/<%= @memo_id %>/delete" method="post" class="delete-form">
        <input type="submit" value="削除">
      </form>
    </div>
    <div class="back-link"><a href="/">もどる</a></div>
  </body>
</html>
